<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Example Project Page</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
        <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
	<nav>
            <ul>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/">Homepage</a></li>
            </ul>
        </nav>
        <header>
            <h1>Example Page</h1>
            <h2>Homepage</h2>
        </header>

            {{{ body }}}
	<script src='/assets/js/script.js'></script>
</body>
</html>